body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6ecc6fbe;
    font-family: Helvetica, sans-serif;
}

.card {
}

.profile {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 500px;
    padding: 15px;
}

.img {
    border-radius: 50%;
    object-fit: cover;
    width: 90px;
    height: 90px;
    margin-right: 15px;
}
